.idea
**/.vagrant
**/*.retry
**/authorized_keys
**/keys
**/ssl/**
**/*.vdi
**/*.log
**/packer_cache
**/box/
**/.DS_Store
**/app/
**/data
**/.terraform
**/*.tfstate.*
**/*.tfstate
**/*.tfvars
**/*.plan
**/azurek8s
**/compose/continuous-integration/gitlab/applications/*
**/data/**
**/old/**
**/app/**
**/bin/**